<html>
	<body>
    <div id="aaa">
    To the end of March
    <br/>
		<script language="JavaScript">
			TargetDate = "04/01/2012 00:00 AM";
			BackColor = "white";
			ForeColor = "navy";
			CountActive = true;
			CountStepper = -1;
			LeadingZero = true;
			DisplayFormat = "%%D%% Days, %%H%% Hours, %%M%% Minutes, %%S%% Seconds.";
			FinishMessage = "It is finally here!";
		</script>
		<script language="JavaScript" src="http://scripts.hashemian.com/js/countdown.js"></script>
    </div>
        <style type="text/css">
            #aaa {
                text-align: center;
                vertical-align: middle;
                font-size: 4em;
            }
        </style>
	</body>
</html>
